<div class="gallery">
    <div class="container">
        <div class="title">
            <img src="../assets/img/gallery.png">
        </div>
        <!-- <div class="photo">
            <img src="../../../assets/gallery/ft1.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft2.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft3.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft4.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft5.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft6.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft7.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft8.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft9.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft10.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft11.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft12.jpeg" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft13.png" alt="" class="photo-layout">
            <img src="../../../assets/gallery/ft14.jpeg" alt="" class="photo-layout">
        </div> -->
        <div class="row mt-4">

            <div class="item col-sm-6 col-md-4 mb-4">
                <a href="../../../assets/gallery/ft1.jpeg" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft1.jpeg" width="100%" height="100%">
                </a>
            </div>
            <div class="item col-sm-6 col-md-4 mb-4">
                <a href="../../../assets/gallery/ft9.jpeg" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft9.jpeg" width="100%" height="100%">
                </a>
            </div>
            <div class="item col-sm-6 col-md-4 mb-4">
                <a href="../../../assets/gallery/ft2.png" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft2.png" width="100%" height="100%">
                </a>
            </div>
            <div class="item col-sm-6 col-md-4 mb-4">
                <a href="../../../assets/gallery/ft3.jpeg" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft3.jpeg" width="100%" height="100%">
                </a>
            </div>
            <div class="item col-sm-6 col-md-4 mb-4">
                <a href="../../../assets/gallery/ft4.jpeg" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft4.jpeg" width="100%" height="100%">
                </a>
            </div>
            <div class="item col-sm-6 col-md-4 mb-4">
                <a href="../../../assets/gallery/ft5.jpeg" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft5.jpeg" width="100%" height="100%">
                </a>
            </div>
            <div class="item col-sm-6 col-md-4 mb-4">
                <a href="../../../assets/gallery/ft6.jpeg" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft6.jpeg" width="100%" height="100%">
                </a>
            </div>
            <div class="item col-sm-6 col-md-4 mb-3">
                <a href="../../../assets/gallery/ft16.jpeg" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft16.jpeg" width="100%" height="100%">
                </a>
            </div>
            <div class="item col-sm-6 col-md-4 mb-4">
                <a href="../../../assets/gallery/ft7.jpeg" class="fancybox" data-fancybox="gallery1">
                    <img src="../../../assets/gallery/ft7.jpeg" width="100%" height="100%">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- <div class="gallery-lightbox-container">
    <div class="gallery">
        <div class="gallery-img" *ngFor="let dd of dessertData">
            <img (click)="onPreviewImage(index)" src="{{dd.img}}" alt="">
        </div>
    </div>
    <div class="lightbox">
        <span class="count"></span>
        <button class="close-btn">

        </button>
        <button class="btn-lightbox-carousel btn-prev">

        </button>
        <button class="btn-lightbox-carousel btn-next">

        </button>
    </div>
</div> -->

