<div class="main-contact">
    <div class="container">
        <div class="contact mt-4">
            <img src="../assets/img/contact.png">
        </div>
        <form>
            <div class="row pb-3 mt-4">
                <div class="col-md-6">
                    <input class="form-control form-control-lg mb-3" type="text" placeholder="Nama"/>
                    <input class="form-control form-control-lg" type="text" placeholder="Email"/>
                    <div id="emailHelp" class="form-text mb-3">Kami tidak akan pernah membagikan email Anda kepada orang lain.</div>
                </div>
                <div class="col-md-6">
                    <textarea class="form-control form-cntrol-lg"  type="text" placeholder="Pesan" rows="4"></textarea>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-lg"> 
                    Kirim
                </button>
            </div>
        </form>
    </div>
</div>

  



  
  